<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <title>Pista di Go-Kart - iKart</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <!-- Navbar -->
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#prenota">Prenota</a></li>
            <li><a href="#prezzi">Prezzi</a></li> <!-- Modifica qui -->
            <li><a href="/tempi">I miei tempi</a></li>


        </ul>
        
    </nav>

    <header>
      <h1>Benvenuto da iKart<br>la pista indoor più grande d'Europa</h1>
        <p class="subtitle">Kart elettrici da 16 kilowatt. Zero rumore, solo adrenalina.</p>
    </header>

    <main>
      <section id="hero">
        <div class="info-wrapper">
          <div id="kart-3d-container">
            <!-- Three.js renderizzerà il cubo rosso qui -->
          </div>
          <div class="info-text">
            <h2>Le qualità costruttive dei nostri kart</h2>
            <p>Differenziale sull’assale posteriore evita prolungati e notevoli sforzi con le braccia, rendendo più agevole e naturale la sterzata e offrendo una maggior tenuta del mezzo in curva, senza che ciò pregiudichi le prestazioni ed il piacere di guida, e lo renda accessibile a grandi e piccoli.</p>
          </div>
        </div>
      </section>
      
      <section id="info">
            <div class="info-container">
                <h2>Le nostre caratteristiche</h2>
                <p>La nostra pista è la seconda più grande in Europa. Utilizziamo kart elettrici da 16 kilowatt che offrono una performance senza pari. Puoi vivere un'esperienza unica con il nostro sistema avanzato di gestione della pista.</p>
            </div>
            <div class="info-container">
                <h2>Informazioni sulla Pista</h2>
                <p>iKart è la pista go-kart indoor più lunga d'Europa, distribuita su due piani per un totale di 7000mq. Il circuito di 630 metri è ispirato a un vero e proprio "circuito cittadino" con salite, discese e tornanti in una stile che ricorda il circuito Montecarlo.</p>
            </div>
            <div class="info-container">
                <h2>I Nostri Servizi</h2>
                <p>iKart organizza eventi speciali come compleanni, addio al celibato, e feste aziendali con aperitivo e buffet. Ogni evento è pensato per offrire divertimento e qualità, con la possibilità di correre in un ambiente sicuro e confortevole ma senza togliere l adrenalina di correre in pista.</p>
            </div>
          <div class="info-container=full-width">
              <h2>La nostra filosofia</h2>
              <p>Crediamo in un'esperienza di guida sostenibile, sicura e adrenalinica. Per questo investiamo continuamente in tecnologia elettrica e sicurezza, offrendo ai nostri clienti il meglio del karting moderno.</p>
          </div>
          
        </section>

        <section id="prezzi">
          <h2 class="section-title">Listino Prezzi</h2>
          <div class="pricing-container">
            <div class="price-card">
              <h3>Prove libere</h3>
              <p class="price">€10</p>
              <p>10 minuti di prove libere</p>
            </div>
            <div class="price-card">
              <h3>Gran Premio</h3>
              <p class="price">€35</p>
              <p>5 min. Prove libere + 5min. qualifica + 7 giri di gara</p>
            </div>
            <div class="price-card">
              <h3>iKART</h3>
              <p class="price">60</p>
              <p>10min. Prove libere + 10min. qualifica + 7 giri di gara</p>
            </div>
          </div>
        </section>

        <section id="prezzi">
          <h2 class="section-title">Location e Orari </h2>
          <div class="pricing-container">
            <div class="price-card">
              <h3>Dove siamo:</h3>
              <p>Via Raibano, 40/A, 47853 Coriano RN</p>
            </div>
            <div class="price-card">
              <h3>Orario</h3>
              <p>Martedi-Domenica:15:00 1:00 </p>
            </div>
        </section>

              <section id="prenota">
          <h2 class="section-title">Prenota ora la tua gara in pista! </h2>
          <div class="pricing-container">
            <div class="price-card">
              <h3>Contatti:</h3>
              <p>ikart.prenotazioni@gmail.com <br> Telefono: 353418830</p>
            </div>
        </section>
        



    <footer>
        <p>© 2025 iKart Pista Go-Kart</p>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <script src="js/script.js"></script>
</body>
</html>

<html lang="it">


